@using StockTrackingApp.UI.Areas.Admin.Models.ProductVMs
@model IEnumerable<StockTrackingApp.UI.Areas.Admin.Models.ProductVMs.AdminProductListVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<section class="section">
    <div class="row" id="table-hover-row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <!-- Product Create Butonu -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#productCreateModal">
                        Yeni Ürün Oluştur
                    </button>
                    <!-- Partial View Modal İçeriğini Yüklemek İçin Boş Modal Div -->
                    <div id="modalContainer">
                        @await Html.PartialAsync("_ProductCreateModal", new AdminProductCreateVM())
                        @* @await Html.PartialAsync("_CategoryUpdateModal", new AdminCategoryUpdateVM()) *@
                    </div>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <!-- Table with outer spacing -->
                        <div class="table-responsive">
                            <table class="table table-hover mb-0">
                                <thead>
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.Id)</th>
                                        <th>@Html.DisplayNameFor(model => model.Name)</th>
                                        <th>@Html.DisplayNameFor(model => model.Price)</th>
                                        <th>@Html.DisplayNameFor(model => model.SKU)</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Id)
                                            </td>
                                            <td class="text-bold-500">
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            <td class="text-bold-500">
                                                @Html.DisplayFor(modelItem => item.Price)
                                            </td>
                                            <td class="text-bold-500">
                                                @Html.DisplayFor(modelItem => item.SKU)
                                            </td>
                                            <td>
                                                <div class="btn-group dropend me-1 mb-1">

                                                    <button class="btn btn-light rounded-pill  dropdown-toggle" type="button"
                                                            id="dropdownMenuButton" data-bs-toggle="dropdown"
                                                            aria-haspopup="true" aria-expanded="false">
                                                        Seçenekler
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                        <a data-bs-toggle="modal" data-bs-target="#updateProductModal" asp-route-id="@item.Id" data-item-id="@item.Id" data-item-name="@item.Name" class="dropdown-item" data-kt-users-table-filter="delete_row">Düzenle</a>
                                                        <a class="dropdown-item" href="@Url.Action("Details", "Product", new { id = item.Id })">Details</a>

                                                    </div>

                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/AdminLayout/assets/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        $('#updateProductModal').on('show.bs.modal', function (event) {
            let button = $(event.relatedTarget);
            let itemId = button.data('item-id');
            let itemName = button.data('item-name');

            let modal = $(this);
            modal.find('input[name="Id"]').val(itemId);
            modal.find('input[name="CategoryName"]').val(itemName);
        });
    });
      
</script>
<script>
    $(document).ready(function () {
        $('#productCreateModal').on('show.bs.modal', function () {
            $.getJSON('/Admin/Product/GetCategories', function (data) {
                var dropdown = $('#categoryDropdown');
                dropdown.empty();
                dropdown.append('<option value="">Kategori Seçin</option>');

                // Eğer JSON'daki "name" property yerine başka bir isim kullanılmışsa, burayı güncelle!
                $.each(data, function (index, category) {
                    dropdown.append($('<option></option>').attr('value', category.id).text(category.name));
                });
            });
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('#productCreateModal').on('show.bs.modal', function () {
            $.getJSON('/Admin/Product/GetSuppliers', function (data) {
                var dropdown = $('#supplierDropdown');
                dropdown.empty();
                dropdown.append('<option value="">Tedarikçi Seçin</option>');

                // Eğer JSON'daki "name" property yerine başka bir isim kullanılmışsa, burayı güncelle!
                $.each(data, function (index, supplier) {
                    dropdown.append($('<option></option>').attr('value', supplier.id).text(supplier.name));
                });
            });
        });
    });
</script>



