@using StockTrackingApp.UI.Areas.Admin.Models.CustomerVMs
@model IEnumerable<StockTrackingApp.UI.Areas.Admin.Models.CustomerVMs.AdminCustomerListVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int row = 0;
}


<section class="section">
    <div class="row" id="table-hover-row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <!-- Customer Create Butonu -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#customerModal">
                        Yeni Müşteri Oluştur
                    </button>
                    <!-- Partial View Modal İçeriğini Yüklemek İçin Boş Modal Div -->
                    <div id="modalContainer">
                        @await Html.PartialAsync("_CustomerCreateModal", new AdminCustomerCreateVM())
                        @await Html.PartialAsync("_CustomerUpdateModal", new AdminCustomerUpdateVM())
                    </div>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <!-- Table with outer spacing -->
                        <div class="table-responsive">

                            <table class="table table-hover mb-0">
                                <thead>
                                    <tr>
                                        <th>
                                            #
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.CompanyName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Adress)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.PhoneNumber)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Email)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.TaxNo)
                                        </th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        row++;
                                        <tr>
                                            <td>
                                                @row
                                            </td>
                                            <td class="text-bold-500">
                                                @Html.DisplayFor(modelItem => item.CompanyName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Adress)
                                            </td>
                                            <td class="text-bold-500">
                                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Email)
                                            </td>
                                            <td class="text-bold-500">
                                                @Html.DisplayFor(modelItem => item.TaxNo)
                                            </td>
                                            <td>
                                                <div class="btn-group dropend me-1 mb-1">

                                                    <button class="btn btn-light rounded-pill  dropdown-toggle" type="button"
                                                            id="dropdownMenuButton" data-bs-toggle="dropdown"
                                                            aria-haspopup="true" aria-expanded="false">
                                                        Seçenekler
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                        <a data-bs-toggle="modal" data-bs-target="#updateCustomerModal" asp-route-id="@item.Id" data-item-id="@item.Id" data-item-name="@item.CompanyName" data-item-email="@item.Email" data-item-phone="@item.PhoneNumber" data-item-tax="@item.TaxNo" data-item-adress="@item.Adress" class="dropdown-item" data-kt-users-table-filter="delete_row">Düzenle</a>
                                                        <a class="dropdown-item" href="@Url.Action("Details", "Customer", new { id = item.Id })">Details</a>

                                                    </div>

                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        $('#updateCustomerModal').on('show.bs.modal', function (event) {
            let button = $(event.relatedTarget);
            let itemId = button.data('item-id');
            let itemName = button.data('item-name');
            let itemTaxNo = button.data('item-tax');
            let itemEmail = button.data('item-email');
            let itemPhone = button.data('item-phone');
            let itemAdress = button.data('item-adress');

            let modal = $(this);
            modal.find('input[name="Id"]').val(itemId);
            modal.find('input[name="CompanyName"]').val(itemName);
            modal.find('input[name="TaxNo"]').val(itemTaxNo);
            modal.find('input[name="Email"]').val(itemEmail);
            modal.find('input[name="PhoneNumber"]').val(itemPhone);
            modal.find('input[name="Adress"]').val(itemAdress);
        });
    });
</script>
